<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{/admin/adminBase}">
<head>
</head>
<body layout:fragment="adminContent">
<script>
    $(function () {
        $('#email').change(function () {
            var email = $('#email').val();
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var json = JSON.parse(JSON.stringify(xhttp.responseText));
                    if (json === "-1") {
                        $("#alreadyExist").show();
                        $("#post").attr('disabled', 'disabled')
                    } else {
                        $('#post').removeAttr('disabled')
                        $("#alreadyExist").hide();
                        $('#repeatPassword').change(function () {
                            console.log("TYpeadd")
                            var password = $("#password").val();
                            var rePassword = $("#repeatPassword").val();
                            if (rePassword != password) {
                                $('#dontMatches').show();
                                $("#post").attr('disabled', 'disabled');

                            } else {
                                $('#dontMatches').hide();
                                $("#post").removeAttr('disabled');
                      }

                        });
                    }
                }
            };
            xhttp.open("GET", "/checkUser/" + email, true);
            xhttp.send();
        });


    });

</script>
<div class="container page-container">
    <div class="col col-md-4 mx-auto">
        <form action="/adminPanel/addUser" autocomplete="off" autocapitalize="off" class="mt-1">
            <input type="text" placeholder="Email" name="email" class="form-control mb-1" id="email">
            <label for="email" id="alreadyExist" style="display: none;color: red">Already Exist</label>
            <input type="password" placeholder="Password" name="password" class="form-control mb-1" id="password">
            <label style="color: red;display: none" for="repeatPassword" id="dontMatches">Password don't matches</label>
            <input type="password" placeholder="Repeat Password" class="form-control mb-1" id="repeatPassword">
            <input class="btn btn-primary" value="Add" type="submit" id="post">
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
></script>
</body>
</html>