<div class=" bg-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="/"><img
                    src="https://r.mobirisesite.com/55817/assets/images/mbr-122x118.png?v=1J9Yfu" alt="Lastrebound"
                    title="" style="height: 3.8rem;"><span class="ml-3">LastRebound</span></a>
            <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                 aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <img src="https://img.icons8.com/dotty/40/000000/basketball.png"/>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/games">Live Streaming </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/post/index">News</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">About us</a>
                    </li>

                </ul>

            </div>

        </nav>
    </div>
</div>