* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 100px;
}

.navbar-nav li {
    padding: 0 10px;
    
}
.navbar-nav li a {
    float: right;
    text-align: left;
   
}
.navbar-nav.navbar-center {
    position: relative;
    left: 40%;
    transform: translatex(-60%);
}
#nav-bar ul li a:hover {
    color:#ffda10!important;
}

.navbar {
    background-color: black;
}

.navbar-toggler {
    border: none!important;
    background-color: #fff!important;
}

.nav-link {
    color:whitesmoke!important;
    font-size: 15px;
    font-weight: 500;
    
}


.form-control {
    border-radius: 0 !important;
    border: none!important;

}

::placeholder {
    color:#ccc !important;
}
.follow {
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contactUs {
    float: right;
    margin-left: 10px;
    
    
}
.container h1 {
    text-align: center;
}

.cRights {
    float: right;
    margin-right: 50px;
}
.page-footer {
    background-color: #ffda10 ;
    border: 2px solid white;
    
}
.toB {
    font-weight: 600;
    font-size: 20px;
}



#header {
    background-color: #ffda10;
    height: 30px;
}

.social {
    float: right;
    margin-right: 20px
}
.socialBase {
    padding-right: 100px;
}
.headerContact {
    float: left;
    margin-right: 20px;
    color: black;
}
.cn {
    padding-left: 100px;
}


 