body {
    background-color: #32363E !important;
    color: white !important;
}

.btn-block {
    background-color: darkslategray !important;
    color: white !important;
}

@media (min-width: 500px) {
    .leagues {
        height: 100vh;
        position: fixed;
        font-size: x-large;
        background-color: dimgrey;
        min-width: 300px;
        display: block;
    }

    .leagues table td {
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .leagues h3 {
        margin-left: 20px;
    }
}

@media (max-width: 500px) {
    .leagues {
        padding-right: 100px;
        padding-left: 100px;
        display: none;
    }
}

