
* {
    box-sizing: border-box;
    max-width: 100%;
    text-decoration: none !important;

}

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;

}

.contact {
    float: left;
    color: #131720 !important;
    height: 20px;
}

.contact h {
    color: #131720 !important;
    margin-right: 16px;
    font-weight: 400;
    line-height: 1;
    font-size: 12px !important;
}

.contact h:hover {
    color: #fff !important;
    transition: all 0.2s ease 0s;
}

.social {
    float: right;

}

#socialIcon {
    text-decoration: none;
    padding-right: 10px;
    color: black;
    font-weight: 400;
}

#socialIcon:hover {
    color: #fff !important;
    transition: all 0.2s ease 0s;
}

#nav-bar {

    position: sticky;
    top: 0;
    z-index: 10;

}

.navbar {
    background-color: #131720;
    padding: 0 !important;
}

.navbar-brand {
    position: relative;
    margin-left: 120px !important;
}

@media only screen and (max-width: 32rem) {
    .navbar-brand img {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
        width: auto;
    }
}


.navbar-brand img {
    height: 40px;
}

.navbar-nav li {
    padding: 0 10px;

}

.navbar-nav li a {
    float: right;
    text-align: left;
}

.navbar-nav.navbar-center {
    position: relative;
    left: 40%;
    transform: translatex(-60%);
}

#nav-bar ul li a:hover {
    color: #ffda10 !important;
}

.nav-link {
    color: #f2f2f2 !important;
    font-size: 14px;

    font-weight: normal;
}


#videoFrame {
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding-top: 50px;
    color: #f2f2f2;
    padding-left: 0px;
}

#videoFrame .container .row {
    margin-right: 0px;
    margin-left: 0px;
}

#videoFrame .container {
    padding-left: 0px;
    padding-right: 0px;

}

.list-group-item {
    width: 1000px;
    overflow-x: hidden;
    color: #131720;
    font-weight: 500;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.08) !important;
    margin-bottom: 20px !important;
    border: none !important;

    margin-bottom: 20px !important;
    padding-top: 10px !important;
    padding-right: 30px !important;
    padding-bottom: 10px !important;
    padding-left: 30px !important;
    position: relative

}

.list-group-item #matchBtn:hover {
    background-color: #ffda10 !important;
}


.list-group-item h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px !important;
    font-weight: 500 !important;
    display: inline-block !important;
    margin-top: 10px


}

.list-group-item p {

    font-size: 1.25em !important;
    margin-top: 10px;
    display: block;

}

@media (max-width: 60em) {
    #header {
        display: none;
    }

}

#header {
    min-width: 700px;
    background-color: #ffda10;
    height: 28px;
}

#matchBtn {
    border-radius: 10px !important;
    color: #fff !important;
    text-decoration: none;
    background: #131720 !important;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.3s ease 0s;
    margin-right: 5px;
    margin-top: 10px !important;
    float: right;


}

.btn-primary {
    margin-top: 10px;
    border-radius: 2px solid black !important;
    background-color: #131720 !important;
    border-radius: 10px !important;
}

.btn {
    margin-top: 10px;

}

#optionBtn {
    margin-right: 0px;
}

ul#menu {
    clear: both;
    float: left;
    list-style: none;
    margin: 0px 5px 0 0px;
    border-bottom: 1px solid #333333;
    width: 200px;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li a {
    margin-right: 5px;
    color: black;
    display: block;
    float: left;
    font: 14px/100% Arial, Helvetica, sans-serif;
    line-height: 32px;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 10px;
    background-color: gold;
    border: 1px solid black;
    margin-top: 15px;
}

/*
Footer content goes here
*/
.footer-copyright {

    background-color: #ffda10;
    width: 100%;
    position: absolute;
}

.page-footer {

    bottom: 0;
    height: 2.5rem;
    width: 100%;
}

.page-footer a {
    color: #131720;

}


@media only screen and (min-width: 32rem) {
    #matchBtn {
        width: auto;
    }


}

@media only screen and (min-width: 48rem) {
    #matchBtn {
        margin-left: .1rem;
        margin-top: 0;
    }

}

.nav-link
    /*
    1. Row - Margin-right/left 0px
    2. Container - padding left/right - 0px
    3.
    */
.navbar-light {
    background-color: #f2f2f2 !important;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
    text-align: center;
}

@media (max-width: 767px) {
    .float {
margin-right: 0!important;
    }
    .my-float{
        margin-top: 16px;
        /*margin-right: -24px;*/
    }
}


