<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{base}">

<head>
    <title th:text="${'Watch | '+link.matchId.header}"></title>
</head>
<body bgcolor="#E6E6FA" layout:fragment="content">
<div class="row mx-auto">
    <div class="col col-md-8 text-center offset-2 text-center">

        <h1 class="text-center" th:text="${link.matchId.header}"></h1>

        <iframe scrolling="no" th:src="${link.url}" th:width="${link?.iframeWidth}" th:height="${link?.iframeHeight}">

        </iframe>
    </div>
</div>
</body>

</html>

