<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div class="leagues">
    <h3>Leagues:</h3>
    <table>
        <tbody>
        <td class=" btn btn-block btn-lg">NBA</td>
        <td class=" btn btn-block btn-lg">EURO League</td>
        </tbody>
    </table>
</div>
<div class="container mx-auto">

    <div class="col-xs-12 col-md-8 col-sm-12 mx-auto">
        <div class="clearfix"><h1>NBA Live Streams and Schedule</h1>
            <hr>
        </div>

        <a href="http://nbastreams.xyz/live/1/" class="btn btn-default btn-lg btn-block game-bar">
            <div class="media">
                <div class="media-left">
                    <img src="http://nbastreams.xyz/images/nba2.png" class="media-object">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> LA Clippers vs Indiana Pacers</h4>
                    <p>December 9th, 2019 - 7:00 PM ET</p>
                </div>
            </div>
        </a><br>

        <a href="http://nbastreams.xyz/live/7/" class="btn btn-default btn-lg btn-block">
            <div class="media">
                <div class="media-left">
                    <img src="http://nbastreams.xyz/images/nba2.png" class="media-object">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> Minnesota Timberwolves vs Phoenix Suns</h4>
                    <p>December 9th, 2019 - 9:00 PM ET</p>
                </div>
            </div>
        </a><br>
        <a href="http://nbastreams.xyz/live/8/" class="btn btn-default btn-lg btn-block">
            <div class="media">
                <div class="media-left">
                    <img src="http://nbastreams.xyz/images/nba2.png" class="media-object">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> Oklahoma City Thunder vs Utah Jazz</h4>
                    <p>December 9th, 2019 - 9:00 PM ET</p>
                </div>
            </div>
        </a><br>
        <a href="http://nbastreams.xyz/live/9/" class="btn btn-default btn-lg btn-block">
            <div class="media">
                <div class="media-left">
                    <img src="http://nbastreams.xyz/images/nba2.png" class="media-object">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> Memphis Grizzlies vs Golden State Warriors</h4>
                    <p>December 9th, 2019 - 10:30 PM ET</p>
                </div>
            </div>
        </a><br>


    </div>
</div>

</div>
</body>
</html>
