<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body layout:fragment="content">


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <div class="mx-auto">

        <div class="mx-auto col col-md-6 col-lg-6 col-sm-12 games">
            <div class=""><h1
                    th:text="${leagueSelected?.name==null?'All famous leagues live streams and schedule':leagueSelected?.name+' live streams and schedule'}"></h1>
                <hr>
            </div>
            <th:block th:each="game:${matchList}">
                <a class="btn btn-default btn-lg btn-block game-bar">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <img th:src="${game.leagueId.logoUrl}" class="media-object logo" th:width="auto">
                        </div>
                        <div class="">
                            <h4 class="media-heading" th:text="${game.header}"> LA Clippers vs Indiana Pacers</h4>
                            <p th:text="${#dates.format(game.beginDate,'dd MMMM  yyyy hh:mm')}">December 9th, 2019 -
                                7:00 PM
                                ET</p>
                            <p id="show-links" th:data="${game.id}" class=" mx-auto show-links"
                               style="width: 50%">Show
                                Links
                            </p>
                            <div class="" th:id="${'links-'+game.id}"></div>
                            <input type="checkbox" style="display: none" checked="checked" class="link-checkbox"
                                   th:id="${'link-checkbox-'+game.id}">
                        </div>
                    </div>
                </a>
            </th:block>


        </div>
    </div>
</div>

</div>
<script>
    $(".show-links").on('click', function () {
        var parent = $(this)
        let matchId = parent.attr('data');
        var showCheckBox = $('#link-checkbox-' + matchId)
        let linkBar = $("#links-" + matchId);
        if (showCheckBox.attr('checked')) {
            showCheckBox.attr('checked', false)
            parent[0].innerText = "Hide Links"
            let matchId = parent.attr('data');
            $("#links-" + matchId).show();
            document.getElementById("links-" + matchId).innerHTML = ""
            $.ajax({
                url: "getMatchLinks/" + matchId,
                method: "GET",
                success: function (response) {
                    let linkJSON = JSON.parse(JSON.stringify(response))
                    var template = "<div class=\"\" id='links-addon'><div class=\"media-body\">"
                    $.each(linkJSON, function (index) {
                        template += "<a class='btn btn-success mt-3 ml-3 mr-3' href=\"/watch/" + linkJSON[index].slug + "\">" + linkJSON[index].header + "</a>"
                    })
                    template += "</div></div> ";
                    linkBar.append(template)
                }
            })
        } else {
            showCheckBox.attr('checked', true)
            $("#links-" + matchId).hide();
            parent[0].innerText = "Show Links"
        }

    })
</script>
</body>
</html>
